*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(stclare.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: 10px;
    padding:  30px 40px;
}

.wrapper h1 {
font-size:  36px;
text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background:  transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:  #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color:  #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color:  #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background:  #fff;
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:  16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size:  14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}





body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(stclare.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.wrapper {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    color: #fff;
    border-radius: 10px;
    padding:  30px 40px;
}

.wrapper h1 {
font-size:  36px;
text-align: center;
}

.wrapper .input-box {
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background:  transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:  #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color:  #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forget {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forget label input {
    accent-color: #fff;
    margin-right: 3px;
}

.remember-forget a {
    color:  #fff;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background:  #fff;
    border: none;
    outline: none;
    border-radius:  40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size:  16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link {
    font-size:  14.5px;
    text-align: center;
    margin: 20px 0 15px;

}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
.right{
    background-color: lightblue;
    border-radius: 20px;
}
#form{
    display: flex;
    flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
      

  }
  #form input{
      
      padding: 12px 20px;
      margin: 10px 0;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
      border-radius: 5px;
  }
  #submit:hover{
      background-color: teal;
      color: black;
      border-radius: 5px;
  }

  .login_head{
      width: 80%;
      margin: auto;
      margin-top: 20px;
      font-size: 38px;
      background-color: green;
        color: white;
    text-align: center;
    padding: 10px;
     border-radius: 20px;   
  }


  /* --------------student form -------------- */

  table,
td,
th {
border: 1px solid #ddd;
text-align: left;

}

table {
border-collapse: collapse;
width: 100%;
margin: auto;
margin-top: 50px;


}

th,
td {
padding: 15px;
text-align: center;
}

tr > th {
background-color: teal;
color: white;
}

.studentData{
    width: 100%;
    background-color: blanchedalmond;
    padding: 15px;

}
#form1{
    margin: auto;
    width: 80%;
    
}
#form1 input{
    padding: 10px ;
    margin-right: 15px;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 5px;
}
#form1 input:focus{
    outline: none;
}

.td6{
    display: flex;
    align-items: center;
    justify-content: center;


}
.td6 > button{
    margin-right: 10px;
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
} 

.td6 > button:nth-child(1){
    background-color: green;
}
.td6 > button:nth-child(2){
    background-color: red;
}

#absent{
    background-color: red;
}







